VITE_API_URL=http://localhost:5000/api

# Paystack public key (event ticket checkout)
VITE_PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxx

# Contact & social (public site)
VITE_CONTACT_EMAIL=info@trfc.ke
VITE_CONTACT_PHONE=+254 712 345 678
VITE_CONTACT_PHONE_TEL=+254712345678
VITE_WHATSAPP_URL=https://wa.me/254712345678
VITE_INSTAGRAM_URL=https://instagram.com/yourhandle
VITE_FACEBOOK_URL=https://facebook.com/yourpage
VITE_YOUTUBE_URL=https://youtube.com/@yourchannel
